@charset "utf-8";
/* CSS Document */

/* -------------------------top level tags------------------------- */

* {
	box-sizing:border-box;
}

body {
	background-color: #404041;
	color: #F1EBD5;
	padding:0px;
	margin:0px;
    font-size: 22pt;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1pt;
	line-height: 32pt;
}
a {
	color: #F05A28;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
hr {
	height: 4px;
	border: none;
	background-color: #58585B;
	margin: 40px 0px;
}

/* -------------------------header objects------------------------- */

img.logo {
	width: 500px;
	height: 149px;
}
div#head img.logo {
	margin: 30px;
}
div#head {
	width:100%;
	background-color: #404041;
	height: 229px;
}
div#status {
	background-color: #F05A28;
	color: #F1EBD5;
	padding: 5px 15px;
	font-size: 36pt;
	font-family: 'Oswald', sans-serif;
    letter-spacing: 2.5px;
	text-transform: uppercase;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

/* -------------------------sitewide modules------------------------- */

div.coin-count {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Oswald', sans-serif;
    letter-spacing: 2.5px;
	text-transform: uppercase;
}
div.comment-count {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	margin-right: 40px;
	margin-top: 20px;
}
div.comment-count a {
	color: #F1EBD5;
	font-family: 'Roboto', sans-serif;
	font-size: 25pt;
	position: relative;
	bottom: 6px;
	font-weight: 300;
}
div.notice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 12px #000000 solid;
	border-style: double;
	background-color: #BE1E2D;
	width: 78%;
	margin: 40px auto;
	padding: 40px;
	font-size: 24pt;
}
div.notice img.notice {
	width: 125px;
	margin: 10px 40px 10px 10px;
}

/* -------------------------to modify other styles------------------------- */

.full {
	display:block;
	width: 100%;
}
.i {
    font-style: italic;
}
.center {
	margin: 0 auto;
	display:block;
}

/* -------------------------menu------------------------- */

div#menu {
	background-color: #F05A28;
	height: 130px;
	width:100%;
	position:fixed;
	bottom:0px;
	padding: 10px;
	padding-top: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	z-index: 900;
}
div#menu a {
	color: #F1EBD5;
	font-size: 22pt;
	line-height: 16pt;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	text-decoration: none;
	font-weight: 300;
}
div#menu div.page {
	display: inline-block;
	text-align: center;
	height: 130px;
	width: 180px;
	padding-top:10px;
}
#menu img {
	width:60px;
	margin-bottom:10px;
}
#menu .current {
    background-color: #BE1E2D;
}
div.alert {
	display: inline-block;
	position: relative;
	bottom: 40px;
	left: 30px;
	z-index: 100;
	width: 80px;
	height: 80px;
	background-color:#FF0004;
	font-size: 24pt;
	font-weight:bold;
	border-radius: 40px;
	line-height: 80px;
	text-align: center;
}
div.alert-on {
	position:relative;
	left:0px;
	top:-80px;
}

/* -------------------------form objects------------------------- */

button {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
    letter-spacing: 2.5px;
	border: none;
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	-webkit-box-shadow: 4px 4px 0px #BE1E2D;
	-moz-box-shadow: 4px 4px 0px #BE1E2D;
	box-shadow: 4px 4px 0px #BE1E2D;
	color: #F1EBD5;
	font-size: 38pt;
	background: #F05A28;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 300px;
}
a.fakebutton {
	border: none;
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	-webkit-box-shadow: 4px 4px 0px #BE1E2D;
	-moz-box-shadow: 4px 4px 0px #BE1E2D;
	box-shadow: 4px 4px 0px #BE1E2D;
	background: #F05A28;
	padding: 25px 20px 25px 20px;
	width: 300px;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
    letter-spacing: 2.5px;
	color: #F1EBD5;
	font-size: 38pt;
	text-decoration: none;
	font-weight: inherit;
}
input {
	background-color: #A7A9AB;
	font-size: 39pt;
	color:#BE1E2D;
	border: 3px #2D2D2D solid;
	border-radius: 8px;
	font-family: 'Oswald', sans-serif;
	padding: 10px 15px;
	margin: 15px 0px;
}
textarea, input#comment_content {
	width: 100%;
	height: 400px;
	background-color: #A7A9AB;
	font-size: 22pt;
	font-family: inherit;
	color:#BE1E2D;
	border: 3px #2D2D2D solid;
	border-radius: 8px;
	padding: 10px 15px;
	margin: 15px 0px;
}
textarea.comment {
	height: 200px;
}
input:focus, textarea:focus {
	background-color: #CCCCCC;
}
input.coins {
	width: 200px;
	height: 100px;
	background-color: #A7A9AB;
}
div.send-amount {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}
button.send-friend {
	background: none;
	color: #F05A28;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	text-transform: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	padding: 0px;
}

/* -------------------------images------------------------- */

.avatar {
	width: 300px;
	height: 300px;
}
.lil-avatar {
	width: 150px;
	height: 150px;
}
.med-avatar {
	width: 225px;
	height: 225px;
}
.avatar, .lil-avatar, .med-avatar {
	border-radius: 150px;
}
img.comment {
	width: 60px;
}
img.talk {
	position: relative;
	left: 16px;
	top: -14px;
}

/* -------------------------typographic styles------------------------- */

.slogan {
	font-family: 'Oswald', sans-serif;
    font-size: 14pt;
	text-transform:uppercase;
	letter-spacing: 3px;
	text-align:center;
	font-weight: 300;
	color: #A7A9AB;
}
.copy {
	margin: 35px;
}
.text {
	text-align:  left;
	display: inline-block;
	padding: 35px;
	padding-bottom: 10px;
	font-size: 30pt;
	line-height: 34pt;
}
h5 {
	margin: 0px;
	padding: 10px 0px;
	font-weight: 500;
	font-size: 38pt;
	text-transform:uppercase;
	letter-spacing: 4px;
	font-family: 'Oswald', sans-serif;
}
h4 {
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 10px 0px;
	font-weight: 400;
	font-size: 32pt;
	text-transform:uppercase;
	letter-spacing: 4px;
	font-family: 'Oswald', sans-serif;
}
.fuckthisprojectentirely {
	font-size: 16pt;
}
div.big-arrow {
	font-size: 60pt;
	margin: 12px 60px;
}
div.big-arrow a {
	font-size: inherit;
	color: #F1EBD5;
}

/* -------------------------site layout------------------------- */

div#content {
	display: block;
	padding: 40px;
	width: 100%;
}
div#content.hasfoot {
	margin-bottom: 200px;
}
#profile {
	font-family: 'Oswald', sans-serif;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 40pt;
	line-height: 60pt;
	font-weight: 500;
	text-align:center;
}
table tr td th {
	border: none;
	font-size: inherit;
}
table.login {
	display: table;
	font-size: 35pt;
}
td.form-labels {
	padding: 0px 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 28pt;
	text-align: right;
	line-height: 35pt;
}
th.form-title {
	background-color: #2D2D2D;
	padding: 20px;
	text-align:left;
}

div#user-edit-top {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}
div.activity, div.friend, div.comment {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
div.activity, div.friend, div.comment, div.transaction {
	font-size: 30pt;
	line-height: 40pt;
}
div.activity-head, div.friend-head, div.comment-head {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
div.send-friend {
	align-items: center;
}
div.send-friend a {
	font-size: 36pt;
}
div.send-friend div.big-arrow {
	display: inline;
	font-size: 40pt;
}
div.send-friend div.friend-head {
	justify-content: space-between;
}
div.transaction-head {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
div.transaction-comment {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
div.activity img.lil-avatar, div.friend img.lil-avatar, div.comment img.lil-avatar {
	margin-right: 40px;
}

/* -------------------------Screens over 1200px------------------------- */

@media (min-width: 1200px) {

* {
	font-size: 11pt;
	line-height: 15pt;
	letter-spacing: auto;
}
body {
	letter-spacing: .5pt;
}
div#content {
	width: 70%;
	max-width: 900px;
	margin: 0 auto;
}
div#content.hasfoot {
	margin-bottom: 0px;
}
div#status {
	font-size: 15pt;
	height:auto;
	background-color: #2D2D2D;
}
div.coin-count img {
	width: 25px;
	height: auto;
}
div#head {
	position: sticky;
	top: 0px;
	z-index: 100;
	height: 120px;
	width: 70%;
	max-width: 1100px;
	margin: 0 auto;
}
div#head-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
div#head img.logo {
	height: 70px;
	width: auto;
	margin: 15px;
}
div#menu {
	height: 70px;
	margin: 15px 0px;
	width:auto;
	position:relative;
	padding: 0px;
	padding-top: 0px;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: inherit;
}
div#menu a {
	font-size: 8pt;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
}
div#menu div.page {
	display: inline-block;
	text-align: center;
	height: auto;
	width: auto;
	padding: 0px;
}
#menu img {
	width:40px;
	margin: 5px 20px;
}
#menu .current {
    background-color: inherit;
}
#menu a {
	color: #F05A28;
}
div.current a{
	background-color: #BE1E2D;
	border-radius: 5px;
	padding: 2px 4px;
}
img.lil-avatar {
	width:65px;
	height:65px;
}
img.med-avatar {
	width:100px;
	height:100px;
}
img.avatar {
	width:135px;
	height:135px;
}
img.comment {
	width: 40px;
}
div.alert {
	display: inline-block;
	position: relative;
	top: 0px;
	left: -20px;
	width: 30px;
	height: 30px;
	background-color:#FF0004;
	font-size: 9pt;
	font-weight:bold;
	border-radius: 15px;
	line-height: 30px;
	text-align: center;
}
div.alert-on {
	position:relative;
	left:0px;
	top:-30px;
}
div.big-arrow {
	font-size: 30pt;
	margin: 12px 30px;
}
div.comment-count a {
	font-size: 11pt;
	position: static;
}
img.comment {
	width: 30px;
}
div#profile {
	font-size: 22pt;
}
div#profile div.coin-count {
	font-size: 14pt;
}
div.transaction img.comment {
	position: relative;
	top: 10px;
}
img.talk {
	position: relative;
	left: 16px;
	top: -8px;
}
div.send-friend a {
	font-size: 14pt;
}
div.send-friend div.big-arrow {
	font-size: 20pt;
}
div.send-friend div.friend-head {
	justify-content: flex-start;
}
hr {
	height: 1px;
	margin: 15px 0px;
}
h4 {
	font-size: 14pt;
	letter-spacing: 1.5pt;
	margin-bottom: 0px;
}
button {
	font-size: 10pt;
	letter-spacing: 1pt;
	width: 100px;
	padding: 10px 5px;
	-webkit-box-shadow: 3px 3px 0px #BE1E2D;
	-moz-box-shadow: 3px 3px 0px #BE1E2D;
	box-shadow: 3px 3px 0px #BE1E2D;
}
textarea {
	width: 100%;
	height: 150px;
	font-size: 12pt;
}
textarea.comment {
	height: 100px;
}
input {
	font-size: 15pt;
	margin-top: 0px;
}
input.coins {
	width: 150px;
	background: url("../images/coin.png");
    background-position: 10px 10px;
	background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 55px;
	height: 65px;
	margin-bottom: 0px;
}
div#user-edit-top {
	justify-content: flex-start;
	align-items: flex-start;
}
div#user-edit-top img.avatar {
	margin-right: 30px;
}
.fuckthisprojectentirely {
	font-size: 12pt;
}
td.form-labels {
	font-size: 13pt;
}
th.form-title {
	padding: 5px 15px;
	margin-bottom: 50px;
}
h5 {
	font-size: 16pt;
	letter-spacing: 1.5pt;
}
p.slogan {
	font-size: 19pt;
	margin-top: 0px;
}
textarea, input {
	border-radius: 5px;
	border-width: 2px;
}
table input {
	font-size: 12pt;
	margin-top: 15px;
	margin-bottom: 15px;
}
table.center {
	display: table;
	margin: 0 auto;
}
div.notice {
	border: 5px #000000 solid;
	border-style: double;
	width: 50%;
	margin: 30px auto;
	padding: 10px;
}
div.notice img.notice {
	width: 50px;
	margin: 10px 22px 10px 10px;
}
}
